.card-base .va-card-title{
    font-family: "Source Sans Pro", sans-serif;    
    border-bottom: 1px solid #eee;
}

.card-base .va-card__title{
    text-transform: initial!important;
    font-size: 18px!important;
}

.card-base .va-input-label{
    font-family: "Source Sans Pro", sans-serif;  
    color: black!important;
    text-transform: initial!important;
    letter-spacing: 0.8px!important;
    font-size: 14px!important;
    margin-bottom: 6px
}

.area-admin{width: 98%!important}